<tr id="<%= dom_id(role) %>">
  <td><%= role.title %></td>
  <td><%= check_box_tag "#{f.object_name}[readable_role_ids][]", 
            role.id, 
            true, 
            :disabled => (role.title == 'Superuser'),
            :id => "page_role_readable_#{role.id}" %></td>
</tr>
